html {
    background-color: #322613;
    height:100%;
    font-family: 'Wendy One', sans-serif;
}
body {
    width:100%;
    background-image: url('http://ryanmarkel.files.wordpress.com/2010/07/rock_paper_scissor_holdm7mdetail.png');
    background-size: 70%;
    background-position:center;
    background-repeat:no-repeat;
    height:100%;
    margin:0;
    padding:0;
    color:antiquewhite;
}
#globalContainer {
    margin:0 auto;
    padding: 0 10%;
    width:50%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 600px/800px;
}
h1 {
    display:flex;
    justify-content: center;
    margin-top:0;
    padding: 20px;
    font-variant-caps: all-small-caps;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color:navajowhite;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
.playerName {
    color:mediumseagreen;
    text-shadow: 0px 0px 30px limegreen;
}
.rps {
    color:indianred;
    height: 1em;
    font-size: 0.9em;
    text-shadow: 0 0 15px black;
}
.playersContainer {
    display: flex;
    justify-content: space-around;
    font-size: 1.9em;
    letter-spacing: 0.06em;
}
.p1p2 {
    color:lightseagreen;
}
.playerNameInput {
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 0.15em;
    padding:0.1em 0.3em;
    display:flex;
    text-align: center;
    border-radius: 5px;
    height:1.3em;
    font-size: 0.53em;
}
.playerNameInput:hover {
    box-shadow: 0 0 3px gold;
}
.playerNameInput:focus {
    box-shadow: 0 0 10px mediumspringgreen;
}
.playerNameInputContainer {
    display:flex;
    margin:0 auto;
    flex-direction: column;
    align-items: center;
}
.score {
    display: flex;
    justify-content: center;
    width:50%;
}
.scoreContainer {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    color:mediumseagreen;
    text-shadow: 0 0 30px limegreen;
}
p {
    margin:0.5em;
}
.playerRPSContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    WIDTH:50%;
}
.results {
    display: flex;
    justify-content: center;
    font-size:1.5em;
    color:gold;
    letter-spacing: 0.05em;
    text-shadow: 0 0 25px goldenrod
}
#roll {
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 0.15em;
    display: flex;
    margin: 0 auto;
    height:2em;
    width:4.3em;
    justify-content: center;
    border-width: 4px;
    border-color: orangered;
    background-color: lightseagreen;
    color:orangered;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-variant-caps: small-caps;
    border-radius: 600px/800px;
}
#roll:hover {
    box-shadow: 0 0 2px gold;
}
#roll:active {
    padding:10px 34px 12px 38px;
    text-shadow: -1px -1px 2px black;
    box-shadow: 0 0 20px lightseagreen;
}
#play, #roll, #resetScore,
#changePlayers, .playerNameInput:focus {
    outline: none;
}
#play {
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 0.15em;
    display:flex;
    margin:0 auto;
    margin-top: 50px;
    height:1.7em;
    width:5em;
    justify-content: center;
    border-radius: 13px;
    border-width: 3px;
    border-color: seagreen;
    background-color:lightseagreen;
    color:navajowhite;
    font-size: 1.32em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-variant-caps: small-caps;
}
#play:hover {
    box-shadow: 0 0 2px gold;
}
#play:active {
    padding:5px 35px 14px 37px;
    text-shadow: -1px -1px 2px black;
    box-shadow: 0 0 20px lightseagreen;
}
#theScore {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
#resetScore {
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 0.15em;
    display:flex;
    margin:0 auto;
    position:relative;
    margin-top: 80px;
    height:1.7em;
    width:7.5em;
    justify-content: center;
    border-radius: 13px;
    border-width: 3px;
    border-color: red;
    background-color: orangered;
    color:navajowhite;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-variant-caps: small-caps;
}
#resetScore:hover {
    box-shadow: 0 0 2px gold;
}
#resetScore:active {
    padding:5px 35px 14px 37px;
    text-shadow: -1px -1px 2px black;
    box-shadow: 0 0 15px orangered;
}
#changePlayers {
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 0.15em;
    display:flex;
    margin:0 auto;
    position:relative;
    margin-top:20px;
    height:1.7em;
    width:9.5em;
    justify-content: center;
    border-radius: 13px;
    border-width: 3px;
    border-color: red;
    background-color: orangered;
    color:navajowhite;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-variant-caps: small-caps;
}
#changePlayers:hover {
    box-shadow: 0 0 2px gold;
}
#changePlayers:active {
    padding:5px 35px 14px 37px;
    text-shadow: -1px -1px 2px black;
    box-shadow: 0 0 15px orangered;
}