#add-modal-container {
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 0;
    display: none;
    height:100%;
}
.modal-content {
    display:flex;
    flex-direction: column;
    color:white;
    width:310px;
    margin: 30px auto 0 auto;
    background-color: rgba(50, 55, 0, 0.9);
    border-radius: 4px;
}
.modal-content p:first-of-type {
    display: flex;
    align-self: center;
}
.modal-content p {
    display:flex;
    align-self:flex-end;
    color: orange;
    z-index: 2;
    padding: 0px 0 0 0;
    margin: 0.75rem 0;
}
.modal-content input {
    background-color:cornsilk;
    display:flex;
    margin: 0 10px 0 5px; 
    height: 25px;
    border-radius: 4px;
}
#add-modal-title {
    background-color: black;
    color:orange;
    display:flex;
    align-self:stretch;
    justify-content:center;
    margin:0;
    padding:10px 0;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    border-radius: 4px;
}
#updateChanges {
    width:100%;
    margin: 0;
    height: 30px;
    display:flex;
    justify-content: center;
    background-color: orange;
    font-weight: bold;
    letter-spacing: 1px;
    font-variant:small-caps;
    border-radius: 4px;
}
#updateChanges:hover {
    background-color: black;
    color: white;
}
#close-container {
    width:100%;
}
#close-modal {
    position:fixed;
    right:0px;
    font-size: 20px;
    color:white;
    margin:0 ;
    padding: 0 5px;
    background-color:black;
    color:whitesmoke;
}
#close-modal:hover {
    color:orangered;
    cursor: pointer;
}
@media(max-width:576px) {
    
}
@media(max-width:768px) {
    
}
@media(max-width: 992px) {
    
}
@media(min-width:992px) {
    
}