footer {
    height: 30px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkGSaNgV5NYObLopELCc-RNTIYCQtshxCaCJd3OaO36BGtgw35')
}
.copyright {
    width: 65%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    margin: auto;
    color: white;
    background-color: black;
}
.facebook {
    width: 20px;
    height: 20px;
    margin: auto 0.4em auto 0.8em;
    background-color:white;
    border-radius:20px;
    padding:1px;
}
.twitter {
    width: 20px;
    height: 20px;
    margin: auto 0.4em;
    background-color: white;
    border-radius:20px;
    padding:1px;
}
.facebook:hover{
    border-radius:20px;
    background-color: white;
    padding: 3.1px;
}
.twitter:hover{
    border-radius:20px;
    background-color: white;
    padding: 3.1px;
}
.facebook:active {
    background-color:orange;
}
.twitter:active {
    background-color:orange;
}
@media(max-width:576px) {
    .footer {
        height: 40px;
        background-size: 335px;
        font-size: 1.05em;
    }
    .copyright {
        width:100%;
    }
    .footer .facebook {
        width: 20px;
        height: 20px;
    }
    .footer .twitter {
        width: 20px;
        height: 20px;
    }
    .footer .twitter:hover{
        padding: 3.1px;
    }
    .footer .facebook:hover{
        padding: 3.1px;
    }
}
@media(max-width:768px) {
    footer {
        height: 35px;
        background-size: 271px;
        background-position:bottom;
        font-size: 1.2em;
    }
    .copyright {
        height:35px
    }
    .facebook {
        width: 30px;
        height: 30px;
       
    }
    .twitter {
        width: 30px;
        height: 30px;
    }
    .twitter:hover{
        border-radius:20px;
        background-color: white;
        padding: 5px;
    }
    .facebook:hover{
        border-radius:20px;
        background-color: white;
        padding: 5px;
    }
}
@media(max-width: 992px) {
    
}
@media(min-width:992px) {
    
}