body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://s3.envato.com/files/126674463/BG_590px.jpg');
    background-size: 100%;
}
#body {
    padding: 0;
}
h2 {
    background-color: black;
    color:lightgoldenrodyellow
}
nav {
    width:100%;
    overflow: hidden;
}
#homeLogo {
    background-image:url('https://www.48hourslogo.com/48hourslogo_data/2014/07/12/2014071219204316517.png');
}  
nav a {
    float: left;
    display: block;
    text-decoration: none;
    font-size: 1.15em;
}
nav a:nth-child(1) {
    padding: 1.4em 3.6em 0.2em 3.6em;
}
nav a:nth-child(2) {
    padding: 1.4em 2.25em 0.2em 2.2em;
}
nav a:nth-child(3) {
    padding: 1.4em 0.8em 0.2em 0.8em;
}  
nav a:hover {
    background-color: #ddd;
    color: black;
} 
nav a.home {
    background-color: white;
    color: white;
    text-shadow: 1px 1px black;
    font-variant: small-caps;
    padding: 0.8em;
}
nav a.home:hover {
    color: black;
    background-color: orange;
    text-shadow: 0px 0px orange;
    text-decoration: none;
}
nav a {
    color: orange;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.0);
    text-shadow: 1px 1px black;
    font-variant: small-caps;
}
nav a:hover {
    color: orange;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    text-decoration: none;
}
#search-bar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkGSaNgV5NYObLopELCc-RNTIYCQtshxCaCJd3OaO36BGtgw35');
    background-size: 190px;
    background-position: -2px 50px; 
    padding: 2px 20px 22px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 0;
}
#search-bar::placeholder {
    
    font-weight: bold;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC_9eZboUBAYG5sSJXZ5FI1XoWHno04gVtGvGvRu0BaHVQFo9Q');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 20px;
}
#search-bar:focus {
    width: 100%;
    color: dodgerblue;
}
#content {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center;
    padding: 3em 0;
    margin: 0 auto;
}
#features p {
    text-align: center;
}
#features ul.actions {
    margin-top: 1.25em;
}
.movies-global-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}
.movie-element {
    width: 20%;
    overflow: hidden;
    margin: 0%;
    display:flex;
    flex-direction: column;
    border: 1px solid orange;
}
.movie-element a {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.movie-element a p {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.movie-element:hover .poster-container {
    opacity: 0.5;
}
.movie-element:hover .imdb-rating {
    visibility:visible;
}
.poster-container {
    width: 100%;
    padding-top: 140%;
    display:flex;
    align-items: center;
    overflow: hidden;
}
.imdb-rating {
    color:white;
    margin: 0 auto;
    float: left;
    background-color:rgba(0,0,0,0.99);
    visibility: hidden;
    width:100%;
}
.movie-title {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.9);
    height: auto;
    padding: 1px;
}
.movie-element a:hover {
    text-decoration: none;
}
.movie-element:hover .movie-title {
    color: orange;
}
#content {
    background-color: rgba(255, 255, 255, 0.0);
}
#nav {
    overflow: hidden;
}
#homeLogo {
    float:left;
    display: inline-block;
    width: 20%;
    background-image: url('../pics/logobun.png');
    
}
.home {
    height: 108px;
    width: 100%;
    
}
form {
    margin-bottom: 0;
}
#navAndSearch {
    width:80%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
#inlineNav {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkGSaNgV5NYObLopELCc-RNTIYCQtshxCaCJd3OaO36BGtgw35');
    background-size: 28%;
    background-size: 190px;
}
footer {
    background-color: orange;
}
.copyright {
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-size: larger;
    margin: 0;
    color: white;
}



