div {
    margin-left:0;
    margin-right:0;
}
#header {
    display: flex;
    justify-content: center;
}
#inputsContainer {
    display:flex;
    width: 100%;
    justify-content: space-around;
}
#calculate {
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
#calc {
    
}
#rezultate {
    width:100%;
    margin-left: 0;
}
#rezultate h3 {
    text-align: center;
}
#personalInfo {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rezultatContainer {
    width:50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
#person1 {
    display: flex;
    flex-direction: column;
}
#person2 {
    display:flex;
    flex-direction: column;
}
#person2CheckboxContainer {
    display:flex;
    flex-direction: row;
}
#person1Parag {
    margin: 0 auto;
}
#person2Parag {
    margin: 0 auto;
}
#bmiGlobalContainer {
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
}
.bmiContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.bmiNameContainer {
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
#bmiMare {
    display:flex;
    flex-direction: column;
    width:100%;
}
#bmiMic {
    overflow:visible;
    height: auto;
    width:100%;
}
#bmiMic h4 {
    text-align: center;
}
#bmiTitleForRefferenceValues {
    text-align: center;
}
.refferenceValues {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 auto;
}
.values:nth-of-type(1) {
    color:blue;
}
.values:nth-of-type(2) {
    color:green;
}
.values:nth-of-type(3) {
    color:orange;
}
.values:nth-of-type(4) {
    color:lightcoral;
}
.values:nth-of-type(5) {
    color:red;
}
.values:nth-of-type(6) {
    color:darkred;
}