html {
    height:100%;
    background-image: url('https://wallpaper-gallery.net/images/weather-wallpapers/weather-wallpapers-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
/*    background-blend-mode:difference;*/
}
body {
    width:100%;
    margin:0;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
}
header {
    background-color: black;
    margin-bottom: 10px;
}
h1 {
    color:white;
    text-align: center;
}
#mainContent {
    width:50%;
    margin:0 auto;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.9);
}
#selectContainer {
    width:100%;
    display:flex;
    justify-content: space-around;
}
#selectSubmitContainer {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#submit {
    width:100px;
}
#resultsContainer {
    width:100%;
    margin: 0 auto;
    margin: 0 auto;
}
#lastUpdate {
    font-size: 0.8em;
    color:yellow;
}
#weeklySummaryParagContainer {
    display:flex;
}
#weeklySummaryParag {
    display:inline-block;
    width:150px;
}
footer {
    text-align: center;
    background-color:black;
    color:white;
    margin-top: 10px;
}