body {
    width:50vw;
    min-width: 450px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    color:white;
    background-color: black;
}
h2 {
    text-align: center;
}
input, select, button, textarea {
    border-radius: 5px;
}
button {
    margin: 5px;
}
#createIssueInputContainer {
    display:flex;
    flex-direction: column;
}
#editContainer {
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#editContainer label {
    margin:5px 0 1px;
}