#mainPageArticle {
    display:flex;
}
#mainPageArticle section {
    width:50%;
}
#issuesContainer, #sprintsContainer {
    display:flex;
    flex-direction: column-reverse;
}
#createIssueInputContainer {
    display:flex;
    flex-direction: column;
}
